* {
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

body {
    background-color: rgb(145, 123, 92);
}

body a {
    float: right;
}

#msg-error,
#no-solution,
#solution {
    display: none;
}

#msg-error {
    color: rgb(153, 51, 51);
    font-weight: bold;
}

#no-solution,
#solutions {
    color: rgb(94, 94, 196);
    font-weight: bold;
}

