* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header {
    flex: 1;
    color: white;
    padding: 10px;
    align-items: center;
    background-color: rgb(145, 123, 92);
}

main {
    width: 83%;
    margin: auto;
}

footer {
    flex: 1;
    padding: 10px;
    color: white;
    text-align: center;
    align-items: center;
    background-color: rgb(145, 123, 92);
}

.diapo {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.elements {
    display: flex;
}

.element {
    flex: 1 0 100%;
    position: relative;
}

.element>img {
    width: 100%;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    font-weight: 600;
    padding: 10px;
}

#nav-gauche,
#nav-droite {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.retour {
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

#nav-droite {
    right: 0;
}